<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
    </head>
    <body>
        <div class="center">
            <div class="card">
                <h1>Login</h1>
                <form action="/entry" method="post" >
                    <input
                        class="form-item"
                        placeholder="Username goes here..."
                        name="username"
                        type="text"
                        required
                    />
                    <input
                        class="form-item"
                        placeholder="Password goes here..."
                        name="password"
                        type="password"
                        required
                    />
                    <input
                        class="form-submit"
                        value="SUBMIT"
                        type="submit"
                    />
                </form>
            </div>
        </div>
    </body>
</html>



